<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Account</title>
    <meta charset="UTF-8">
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
    <h1>My Account</h1>
	
	<a th:href="@{/tickets/new}">Create Ticket</a>
	<a th:href="@{/tickets}">My Tickets</a>

    <p><strong>Display Name:</strong> <span th:text="${user.displayName}"></span></p>
    <p><strong>Email:</strong> <span th:text="${user.email}"></span></p>
    <p><strong>Role:</strong> <span th:text="${user.role}"></span></p>

    <form th:action="@{/logout}" method="post">
        <button type="submit">Log out</button>
    </form>
</body>
</html>