<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/app.css}">
</head>
<body>
	<div th:replace="~{fragments/navbar :: navbar}"></div>
    <h1>Login</h1>

    <div th:if="${param.error}">
        Invalid email or password.
    </div>

    <div th:if="${param.logout}">
        You have been logged out.
    </div>

    <div th:if="${successMessage}">
        <p th:text="${successMessage}"></p>
    </div>

    <form th:action="@{/login}" method="post">
        <div>
            <label>Email:</label>
            <input type="text" name="email" />
        </div>
        <div>
            <label>Password:</label>
            <input type="password" name="password" />
        </div>
        <button type="submit">Log in</button>
    </form>

    <p><a th:href="@{/register}">Create account</a></p>
</body>
</html>