<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Ticket</title>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
    <h1>Create Ticket</h1>

    <form th:action="@{/tickets}" th:object="${ticket}" method="post">
        <div>
            <label>Title</label>
            <input type="text" th:field="*{title}" />
			<div th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
        </div>

        <div>
            <label>Description</label>
            <textarea th:field="*{description}"></textarea>
			<div th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
        </div>

        <div>
            <label>Priority</label>
            <select th:field="*{priority}">
                <option value="LOW">Low</option>
                <option value="MEDIUM">Medium</option>
                <option value="HIGH">High</option>
            </select>
			<div th:if="${#fields.hasErrors('priority')}" th:errors="*{priority}"></div>
        </div>

        <button type="submit">Submit Ticket</button>
    </form>

    <p><a th:href="@{/tickets}">View My Tickets</a></p>
	<p><a th:href="@{/account}">Back to Dashboard</a></p>
</body>
</html>